In [1]:
db_file_path =

In [1]:
import sqlite3

# データベースのパスを指定
# db_path = "/Users/keisukeonoue/ws/constrained_BO_v2/results/dbs/2024-10-27_12-10-24_bo_parafac_dim2_rank2_mask0.1_tradeoff3.0_seed0.db"
db_path = "../results/dbs/2024-10-27_15-02-17_bo_parafac_temp_dim2_rank2_mask0.1_tradeoff3.0_seed0.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# テーブル一覧を確認
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables:", tables)

# 特定のテーブル構造を確認 (例えば 'trial_params' テーブル)
cursor.execute("PRAGMA table_info(trials);")
columns = cursor.fetchall()
print("Columns in trials:", columns)

conn.close()

Tables: [('studies',), ('version_info',), ('study_directions',), ('study_user_attributes',), ('study_system_attributes',), ('trials',), ('trial_user_attributes',), ('trial_system_attributes',), ('trial_params',), ('trial_values',), ('trial_intermediate_values',), ('trial_heartbeats',), ('alembic_version',)]
Columns in trials: [(0, 'trial_id', 'INTEGER', 1, None, 1), (1, 'number', 'INTEGER', 0, None, 0), (2, 'study_id', 'INTEGER', 0, None, 0), (3, 'state', 'VARCHAR(8)', 1, None, 0), (4, 'datetime_start', 'DATETIME', 0, None, 0), (5, 'datetime_complete', 'DATETIME', 0, None, 0)]

In [2]:
import sqlite3
import pandas as pd

# データベースファイルのパス


# データベースに接続
conn = sqlite3.connect(db_path)

# trials テーブルのデータを DataFrame に変換
trials_df = pd.read_sql_query("SELECT * FROM trials", conn)

# 追加で trial_params や study テーブルのデータを取得することも可能
trial_params_df = pd.read_sql_query("SELECT * FROM trial_params", conn)
studies_df = pd.read_sql_query("SELECT * FROM studies", conn)

# データベース接続を終了
conn.close()

# 結果の表示
print("Trials DataFrame")
print(trials_df.head())

print("\nTrial Params DataFrame")
print(trial_params_df.head())

print("\nStudies DataFrame")
print(studies_df.head())

Trials DataFrame
   trial_id  number  study_id     state              datetime_start  \
0         1       0         1  COMPLETE  2024-10-27 15:02:17.519077
1         2       1         1  COMPLETE  2024-10-27 15:02:17.544574
2         3       2         1  COMPLETE  2024-10-27 15:02:17.557933
3         4       3         1  COMPLETE  2024-10-27 15:02:17.570219
4         5       4         1  COMPLETE  2024-10-27 15:02:17.586443

            datetime_complete
0  2024-10-27 15:02:17.536891
1  2024-10-27 15:02:17.552653
2  2024-10-27 15:02:17.565007
3  2024-10-27 15:02:17.577432
4  2024-10-27 15:02:17.595118

Trial Params DataFrame
   param_id  trial_id param_name  param_value  \
0         1         1        x_0         -1.0
1         2         1        x_1          3.0
2         3         2        x_0         -5.0
3         4         2        x_1          1.0
4         5         3        x_0          2.0

                                   distribution_json
0  {"name": "IntDistribution", "attributes": {"lo...
1  {"name": "IntDistribution", "attributes": {"lo...
2  {"name": "IntDistribution", "attributes": {"lo...
3  {"name": "IntDistribution", "attributes": {"lo...
4  {"name": "IntDistribution", "attributes": {"lo...

Studies DataFrame
   study_id                                         study_name
0         1  bo_parafac_temp_dim2_rank2_mask0.1_tradeoff3.0...

In [3]:
trials_df

,trial_id,number,study_id,state,datetime_start,datetime_complete
0,1,0,1,COMPLETE,2024-10-27 15:02:17.519077,2024-10-27 15:02:17.536891
1,2,1,1,COMPLETE,2024-10-27 15:02:17.544574,2024-10-27 15:02:17.552653
2,3,2,1,COMPLETE,2024-10-27 15:02:17.557933,2024-10-27 15:02:17.565007
3,4,3,1,COMPLETE,2024-10-27 15:02:17.570219,2024-10-27 15:02:17.577432
4,5,4,1,COMPLETE,2024-10-27 15:02:17.586443,2024-10-27 15:02:17.595118
5,6,5,1,COMPLETE,2024-10-27 15:02:17.600454,2024-10-27 15:02:17.607736
6,7,6,1,COMPLETE,2024-10-27 15:02:17.613138,2024-10-27 15:02:17.621586
7,8,7,1,COMPLETE,2024-10-27 15:02:17.626793,2024-10-27 15:02:17.634369
8,9,8,1,COMPLETE,2024-10-27 15:02:17.639946,2024-10-27 15:02:17.648785
9,10,9,1,COMPLETE,2024-10-27 15:02:17.654368,2024-10-27 15:02:17.661495
10,11,10,1,COMPLETE,2024-10-27 15:02:17.666681,2024-10-27 15:02:17.673854
11,12,11,1,COMPLETE,2024-10-27 15:02:17.679175,2024-10-27 15:02:17.687507
12,13,12,1,COMPLETE,2024-10-27 15:02:17.692879,2024-10-27 15:02:17.700082
13,14,13,1,COMPLETE,2024-10-27 15:02:17.705159,2024-10-27 15:02:17.712806
14,15,14,1,COMPLETE,2024-10-27 15:02:17.718816,2024-10-27 15:02:17.727636
15,16,15,1,COMPLETE,2024-10-27 15:02:17.733858,2024-10-27 15:02:17.741811
16,17,16,1,COMPLETE,2024-10-27 15:02:17.748623,2024-10-27 15:02:17.757391
17,18,17,1,COMPLETE,2024-10-27 15:02:17.762677,2024-10-27 15:02:17.769955
18,19,18,1,COMPLETE,2024-10-27 15:02:17.775103,2024-10-27 15:02:17.784457
19,20,19,1,COMPLETE,2024-10-27 15:02:17.789663,2024-10-27 15:02:17.796924
20,21,20,1,COMPLETE,2024-10-27 15:02:17.802303,2024-10-27 15:02:17.809422
21,22,21,1,COMPLETE,2024-10-27 15:02:17.816849,2024-10-27 15:02:17.825696
22,23,22,1,COMPLETE,2024-10-27 15:02:17.831013,2024-10-27 15:02:17.838496
23,24,23,1,COMPLETE,2024-10-27 15:02:17.843748,2024-10-27 15:02:17.852930
24,25,24,1,COMPLETE,2024-10-27 15:02:17.900512,2024-10-27 15:02:17.918786
25,26,25,1,COMPLETE,2024-10-27 15:02:17.924894,2024-10-27 15:02:17.932876
26,27,26,1,COMPLETE,2024-10-27 15:02:17.938246,2024-10-27 15:02:17.946141
27,28,27,1,COMPLETE,2024-10-27 15:02:17.951760,2024-10-27 15:02:17.959144
28,29,28,1,COMPLETE,2024-10-27 15:02:17.964257,2024-10-27 15:02:17.971511
29,30,29,1,COMPLETE,2024-10-27 15:02:17.976778,2024-10-27 15:02:17.985509

In [4]:
# データベースに接続
conn = sqlite3.connect(db_path)

# study_user_attributes テーブルからデータを取得
study_user_attributes_df = pd.read_sql_query("SELECT * FROM study_user_attributes", conn)

# sampler の情報を表示
sampler_info = study_user_attributes_df[study_user_attributes_df['key'] == 'sampler']
print("\nSampler Information:")
print(sampler_info)

# データベース接続を終了
conn.close()

Sampler Information:
Empty DataFrame
Columns: [study_user_attribute_id, study_id, key, value_json]
Index: []